* {
    margin: 0px;
    word-break: break-all;
}

.container {
    padding: 20px;
}

.navbar a{
    padding-left: 7px;
    padding-right: 7px;
    color: wheat;
    text-decoration: none;
}

.navbar a:hover{
    background-color: wheat;
    color: black;
}

.navbar{
    color: wheat;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
}

.logo {
    font-family: Impact;
    font-size: 20px;
    text-align: left;
    width: 60%;
}

.menu {
    width: 100%;
    text-align: right;
}

.course-title {
    font-size: 24px;
    font-family: cursive;
}

.course-item {
    padding: 10px;
    margin: 7px;
    border: 2px blanchedalmond solid;
    border-radius: 10px;
    background-color: rgb(247, 244, 241);
}

@media (max-width:450px){
    .navbar {
        display: block;
    }

    .container {
        padding: 10px;
    }
}